<footer>
<div class="footer-container">
    <div class="logo"><img id="footlogo" src="{{ "images/sktelecom_g.png" | absURL }}" /></div>
    <div class="left">
      <div>
        <span><a href="/terms" translate="FOOTER.TERMS_OF_USE">이용약관</a></span>
        <span><a href="/privacy" translate="FOOTER.PRIVACY_STATEMENT">개인정보취급방침</a></span>
        <span><a href="javascript:;" onclick="emaildeny()" translate="FOOTER.UNAUTHORIZED_COLLECTION_OF_EMAIL">이메일무단수집거부</a></span>
      </div>
      <div class="addr" translate="FOOTER.ADDRESS">서울특별시 중구 을지로65(을지로2가) SK T-타워 SK텔레콤(주)</div>
      <div>COPYRIGHT ⓒ SK TELECOM.LTD. ALL RIGHTS RESERVED.</div>
    </div>
    <div class="right">
      <!-- <div class="translate">
        <span><a href ng-click="$ctrl.changeLang('ko')">KOREAN</a></span>
        <span>|</span>
        <span><a href ng-click="$ctrl.changeLang('en')">ENGLISH</a></span>
      </div> -->
      <div>
        <span translate="FOOTER.CONTACT_US">서비스 문의</span>
        <span><a class="email" href="mailto:admin@smartfleet.sktelecom.com">admin@smartfleet.sktelecom.com</a></span>
      </div>
    </div>
  </div>
</footer>